<div class="container">
  <app-page-header [heading]="'Profile'" [icon]="'fa-user-o'"></app-page-header>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h4>Profile</h4>
      <form>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="user.email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="user.password">
        </div>
        <div class="form-group">
          <label for="patientId">Patient Id</label>
          <input type="text" class="form-control" name="patientId" [(ngModel)]="user.patientId">
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" (click)="save()">Save Profile</button>
        </div>
      </form>
    </div>
  </div>
</div>
