<div class="login-page">
  <div class="row">
    <div class="col-md-6 offset-md-3 pt-3">
      <img class="img-fluid mx-auto d-block" src="assets/images/logo.png" width="200px" />
      <h1 class="text-center">Nutrient Health Analysis</h1>
      <app-alert></app-alert>
      <div class="box box-container">
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">Email</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-user"></i>
              </div>
              <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
            </div>
            <div *ngIf="f.submitted && !email.valid" class="help-block text-danger">
              <i class="fa fa-close mr-1"></i><span>Email is required</span></div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="fa fa-lock"></i>
              </div>
              <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            </div>
            <div *ngIf="f.submitted && !password.valid" class="help-block text-danger">
              <i class="fa fa-close mr-1"></i><span>Password is required</span></div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary btn-block">Login</button>
            <a [routerLink]="['/register']" class="btn btn-link btn-block">Don't have an account? Register!</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
